<div class="section temp">
  <div class="title">
    <h2>Temperature Data</h2>
    <h3>Over the last {{monthsSelected}} months</h3>
    <label for="monthsEntered"># of months to view: </label>
    <input type="text" id="monthsEntered" (keyup)="onKey($event)" />
    <div class="chart-container">
      <ngx-charts-line-chart
        [view]="view"
        [scheme]="colorScheme"
        [legend]="legend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisTickFormatting]="dateTickFormatting"
        [xAxis]="xAxis"
        [yAxis]="yAxis"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        [timeline]="timeline"
        [results]="data"
        (select)="onSelect($event)"
        (activate)="onActivate($event)"
        (deactivate)="onDeactivate($event)"
      >
      </ngx-charts-line-chart>
    </div>
  </div>
</div>
